*,
*::before,
*::after {
    box-sizing: inherit;

}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;

}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

/* Layout Structure (use Grid):

Header spanning full width (height: 80px)

Sidebar on left (width: 220px)

Main content area to the right of sidebar

Footer spanning full width (height: 60px)

exactly the saem thing done below*/

.container {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 80px 1fr 60px;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
    min-height: 100vh;
}

/* assigning ui components to template area ,
 .header being the ui component  */
.header  { grid-area: header; }
.sidebar { grid-area: sidebar; }
.main    { grid-area: main; }
.footer  { grid-area: footer; }


.container .header,
.container .sidebar,
.container .main,
.container .footer {

    border: 2px solid black;
}




.container .header{
    background-color: aqua;
}

.container .sidebar{
    background-color: rgb(200, 121, 121);
}

.container .main{
    background-color: aquamarine;
}

.container .footer{
    background-color: rgb(235, 177, 91);
}