*,
*::before,
*::after {
    box-sizing: inherit;

}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;

}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

/* Layout Structure (use Grid):

Header spanning full width (height: 80px)

Sidebar on left (width: 220px)

Main content area to the right of sidebar

Footer spanning full width (height: 60px)

exactly the saem thing done below*/

.container {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 80px 1fr 60px;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
    min-height: 100vh;
}



.container .header,
.sidebar,
.main,
.footer {

    border: 2px solid black;
}
